@model StoreCore.Data.ApplicationUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Usuário</h1>
<h4>Editar</h4>
<hr />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a asp-action="index">Voltar</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="Admin">Painel</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Usuário</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>    
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> Email confirmado
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwoFactorEnabled" /> Dois fatores habilitados
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LockoutEnabled" /> Bloqueio ativado
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LockoutEnd" class="control-label">Fim do bloqueio</label>
                <input type="date" asp-for="LockoutEnd" class="form-control" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>


